@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1761745117190') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-denglu-copy:before {
  content: "\e63a";
}

.icon-mima:before {
  content: "\e635";
}

.icon-xingxing:before {
  content: "\e859";
}

